<div class="card">
    <div class="card-body flex">
        <h1 class="card-title text-left fw-bolder my-3">FAQ</h1>
        <h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">Official Social Accounts</h6>
        <h6 class="fw-light">
            Instagram: @teamtrees, Twitter: @teamtreesofficl, Reddit: r/teamtrees, Facebook: facebook.com/teamtreesofficial

            <h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">How did #TeamTrees® get started?</h6>
            
In 2019, the internet challenged MrBeast to raise $20M to plant 20M trees. With the help of ex-NASA engineer Mark Rober, hundreds of other YouTube creators, and all of you, we absolutely crushed it—raising over $23M and generating more than 1B organic video views. Now with millions of trees in the ground and planting projects underway around the world, #TeamTrees is growing a greener future.

<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">Who makes up #TeamTrees?</h6>
Whether you donate to plant one tree, or one million, or simply help to spread the word, you are a part of the team! #TeamTrees reached its original fundraising goal of ‘20M trees by 2020’ by raising more than $20M in just 56 days with the help of 800,000 supporters from 200 countries. And support continues to grow. Someone has donated a tree on the site every single day since the October 2019 launch, with an average increase of about 2,600 trees per day. #TeamTrees has raised more than $23M to-date and that is thanks to all of you!

<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">Who exactly is the Arbor Day Foundation and why did you choose them over other tree planting NGOs?
</h6>

We quickly realized that to plant trees in a sustainable and environmentally friendly way, we would need to partner with the professionals. After speaking with multiple experts in the environmental space, the Arbor Day Foundation stood out as being the best choice. They are one of the largest and longest-running tree planting NGOs, with nearly 50 years of experience, and they have the same Charity Navigator rating as the American Red Cross.

<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">Does my donation go directly to the Arbor Day Foundation?
</h6>

It does! Donations through either TeamTrees.org, or the YouTube donation button, are sent directly to the Arbor Day Foundation to fund #TeamTrees tree-planting. Every dollar plants one tree.

<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">What does my donation actually go towards?</h6>

For every dollar you donate, one tree will be planted in a forest of high need around the globe. It’s that simple!

<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">Is this donation tax-deductible?</h6>

The Arbor Day Foundation is a United States 501©(3) nonprofit charitable organization, so for US donors, there’s a good chance your monetary donation is tax deductible. We recommend that you consult a tax professional familiar with your specific situation to be sure. The Foundations’ Federal Tax ID number (also known as the EIN, Employer Identification Number) is 23-7169265. As a reminder, your donation confirmation will be sent to the email provided at the time of completing your donation.

<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">Are donations in my native currency?
</h6>

All donations to #TeamTrees are processed in United States Dollar (USD), as well as cryptocurrency. For more information on cryptocurrency donations, click here.

<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">Where can I find my #TeamTrees donation and message?
</h6>

After you’ve completed your transaction on TeamTrees.org, your donation and your message will show up on the leaderboard (assuming you haven’t chosen to remain anonymous). As a reminder, TeamTrees.org is a positive, solutions-oriented campaign and we reserve the right to remove donation messages that contain links, spam, or otherwise abusive content.


<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">How can I see my donation on the “Most Trees” Leaderboard?
</h6>

In order to see your donation on the ‘Most Trees’ section of the Leaderboard, you will have to make a single donation that exceeds the lowest amount displayed at that time. Unfortunately, separate donations cannot be combined to equal a higher figure.


<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">How did #TeamTrees® get started?</h6>

If you want to aggregate multiple donations we recommend creating a Team during the donation checkout process. While aggregate donations aren’t displayed on the current ‘Most Trees’ leaderboard, Team totals are visible using Donor Search.


<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">Where are the trees being planted?
</h6>

Due to the sheer volume of trees donated (more than 23 million), they are being planted in a variety of forests, on public and private lands, in areas of great need. Many of these forests will be public forestlands managed by government agencies. Arbor Day Foundation also partners with leading local nonprofits to maximize the environmental, economic, and cultural benefits of #TeamTrees projects. Click here to see the latest list of confirmed #TeamTrees planting projects around the world.


<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">Who will plant the trees?</h6>


The Arbor Day Foundation works closely with professional forestry partners such as the U.S. Forest Service, the Bureau of Land Management, and other government and nongovernmental agencies, to ensure that tree-planting best practices are followed.


<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">When will the trees be planted?
</h6>

Planting the original 20M trees began in January of 2020 and is on track to be completed, as planned, by December 2022. We treat your donation with the utmost respect, so we’re working with Arbor Day Foundation to ensure high survivability rates for all the trees planted as part of #TeamTrees. Sure, you could plant trees faster, but you’d be risking the integrity of the vision and the survivability of the trees.


<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">What species are going to be planted?
</h6>

The Arbor Day Foundation always emphasizes planting native species where local conditions and forest plans allow. Their motto is to plant the right trees, in the right place, at the right time, for the right reasons. Details on #TeamTrees planting projects are here.


<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">Why are you planting trees instead of preserving ones that already exist?
</h6>

Is it vitally important to protect, manage, and restore forests globally. We are focused on restoration because, according to the National Academy of Sciences, forest restoration has the most global climate mitigation potential compared to all other natural climate solutions. Restoring lands through tree-planting is the Arbor Day Foundation’s area of expertise and something they’ve been doing for nearly five decades. There’s no easy path for fixing climate change, just winding roads going toward the same goal, so we should actively pursue many different approaches including both preservation and restoration.


<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">Can planting trees solve climate change?
</h6>

No, not on its own. Trees are a proven natural climate solution, but we need to stick to the science and attack the problem from many angles at once. #TeamTrees is planting millions of trees to 1) be part of the solution, 2) send a strong signal that this massive community cares about the planet we call home, and 3) show that planting trees is a simple solution that everyone can get behind.


<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">This is great! How can I get involved with #TeamTrees?
</h6>

Apart from donating, there are several ways to help. The best way to support this initiative is to tell other people about it —we want everyone to plant trees! When you see #TeamTrees videos or social media content out in the world, do all of us a favor and like/upvote/RT/share/comment. If you want to take it a step further, you can create a team of your own. Be generous with your attention and help the message remain strong.


<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">How can I team up with #TeamTrees?
</h6>

By donating, or even talking about #TeamTrees, you’re already part of the team! But if you’re wanting more involvement, you can create your own team and even challenge your friends, family, colleagues, or strangers to team challenges! Here’s how:

Step 1: Go to the homepage and scroll until you see the area that says ‘Join #TeamTrees’.

Step 2: Select the number of trees you want out of the four options or add your own custom amount (minimum of $1), then hit ‘Next’.

Step 3: When the details pop up, fill out your information, but be sure to add your team’s name under ‘Team’. This is how donations put toward the team will be tracked.

Step 4: Fill your payment information and click ‘Complete Donation’.

Step 5: There will be a custom, shareable URL under your donation details that you will want to share with everyone, so their donations apply to your team. Don’t forget to share on your social media channels!

Step 6: To locate your team and see the total number donated under the team’s name, go back to the homepage, and scroll to the ‘Leaderboard’. Under this area, you will see the ‘Search’ button. Type in your team’s name and hit enter.


<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">Did you send me a donation receipt email? I don’t see it.
</h6>

Try running a search for team@teamtrees.org or donations@teamtrees.org. If you’re using Gmail, it’s possible our messages are being sorted into the Promotions tab. If that’s the case, drag-and-drop a #TeamTrees email from the message list over to the Primary tab, or right-click the email and select Move to Tab > Primary. If that doesn’t work, or you’re still not using Gmail, please check your spam filter in case we got mislabeled. Be sure to click ‘Not Spam’ to help build our reputation.


<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">Did you send me an email? I don’t see it.
</h6>

Try running a search for team@teamtrees.org or donations@teamtrees.org. If you’re using Gmail, it’s possible our messages are being sorted into the Promotions tab. If that’s the case, drag-and-drop a #TeamTrees email from the message list over to the Primary tab, or right-click the email and select Move to Tab > Primary. If that doesn’t work, or you’re not using Gmail, please check your spam filter in case we got mislabeled. Be sure to click ‘Not Spam’ to help build our reputation.


<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">How do I get in touch with #TeamTrees?
</h6>

For media inquiries, contact press@teamtrees.org. For everything else, email info@teamtrees.org.


<h6 class="card-subtitle mb-2 text-left fw-bold my-3 pb-3">Looking for some more information about trees and natural climate solutions?
</h6>

Arbor Day Foundation ‘Replanting Our Forests’ page has you covered.
        </h6>
  
      
  
      <div>
    </div>
  
  