<div class="bg-gradient">
    <div class="pt-30">
        <img src="/assets/footer.png" class="bgfooter">
    </div>
    
    <div class="bg-spruce flex flex-col md:flex-row items-center justify-center">
        <footer class="py-4">       
            <ul class="nav justify-content-center">         
                <li class="nav-item" routerLink="faq"><a class="nav-link px-4 text-white">FAQ</a></li>         
                <li class="nav-item" routerLink="contact-us"><a class="nav-link px-4 text-white">Contact Us</a></li>         
                <li class="nav-item" routerLink="press-inquiries"><a class="nav-link px-4 text-white">Press Inquiries</a></li>         
                <li class="nav-item" routerLink="teamseas"><a class="nav-link px-4 text-white">#TeamSeas</a></li>         
            </ul>     
        </footer>   
    </div>
</div>

