<div class="card">
  <div class="card-body flex">
    <h4 class="card-title text-center fw-bold my-3">JOIN #TEAMTREES</h4>
    <h6 class="card-subtitle mb-2 text-center fw-bold my-3 pb-3">$1 plants a tree</h6>



    <div class="container">
        <div class="btn-group gap-2 space rounded" role = "group">
          <button type="button" class="btn btn-primary ">5 trees</button>
          <button type="button" class="btn btn-primary ">20 trees</button>
        </div>
        <div class="btn-group gap-2 space rounded-left rounded-right" role = "group">
          <button type="button" class="btn btn-primary">50 trees</button>
          <button type="button" class="btn btn-primary">100 trees</button>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Other amount" aria-label="Other amount" aria-describedby="basic-addon1">
        </div>
    </div>

    <div class="d-grid mx-2 pt-4">
    <button type="button" class="btn btn-next fw-bold">Next</button>
  </div>

    <div>
  </div>



  
    