<div class = "container">
    <div class = "row">
        <div class = "col-8">
            <form #postForm= "ngForm" (ngSumbit) = "addCard(postForm.value)" >
                <div class = "input-group">
                    <span class = "input-group-text">
                        Image Path:
                    </span>
                    <input type = "text" class = "form-control" ngModel name ="img"> 
                </div>
            </form>

            <form action = "">
                <div class = "input-group">
                    <span class = "input-group-text">
                        Title:
                    </span>
                    <input type = "text" class = "form-control" ngModel name ="title"> 
                </div>

            </form>
            <form action = "">
                <div class = "input-group">
                    <span class = "input-group-text">
                        Description:
                    </span>
                    <input type = "text" class = "form-control" ngModel name ="description"> 
                </div>

                    <button type="submit" class = "btn btn-light">Submit</button>
            </form>

    </div>
</div>